
  <div class="container">
    <header class="header">
      <form (submit)="submitLocation(cityName)" class="search-box">
        <span class="material-icons pin">
          location_on
          </span>
        <input type="text" placeholder="City Name" name="city" class="form-control search-box__input" autofocus
          #cityName>
        <button class="search-box__button">
          <span class="material-icons  search-box__button-icon">
            search
          </span>
        </button>
      </form>


    </header>

    <div class="content__div">
      <button class="button-boxes">

        <h2>FRIDAY</h2>
        <h3><strong>City: {{weather?weather.name:'search'}}</strong></h3>
        <p>Humidity: {{weather.main.humidity}}</p>
        <p>Pressure: {{weather.main.pressure}}</p>
        <p>Temperature: {{weather.main.temp}} °C</p>
        <p>Description: {{weather.weather[0].description }}</p>

        <span class="material-icons">
          wb_sunny
        </span>
        <h3>Sunny</h3>
      </button>
      <button class="button-boxes">
        <h2>Saturday</h2>
        <h3><strong>{{weather?weather.name:'search'}}</strong></h3>
        <p>Humidity: {{weather.main.humidity}}</p>
        <p>Pressure: {{weather.main.pressure}}</p>
        <p>Temperature: {{weather.main.temp}} °C</p>
        <p>Description: {{weather.weather[0].description }}</p>
        <span class="material-icons">
          cloud
        </span>
        <h3>Cloud</h3>
      </button>
      <button class="button-boxes">
        <h2>Sunday</h2>
        <p><strong>28 degr</strong> 19 </p>
        <span class="material-icons">
          cloud_queue
        </span>
        <h3>cloud_queue</h3>
      </button>
      <button class="button-boxes">
        <h2>Monday</h2>
        <p><strong>28 degr</strong> 19 </p>
        <span class="material-icons">
          cloud_off
        </span>
        <h3>Cloud_off</h3>
      </button>
      <button class="button-boxes">
        <h2>Tuesday</h2>
        <p><strong>28 degr</strong> 19 </p>
        <span class="material-icons">
          nights_stay
        </span>
        <h3>nights_stay</h3>
      </button>
      <div class="graph-content" style="background-image:url('../assets/we.png'); background-size: cover;
            background-repeat: no-repeat;">

        <h1 style="margin-left:0 !important ;">
          City: {{weather?weather.name:'search'}}
        </h1>
        <div class="btnn">
          <button class="btn-graphs">
            <p>Pressure: {{weather.main.pressure}}</p>
            <p>Temperature: {{weather.main.temp}} °C</p>
          </button>
          <button class="btn-graphs">
            <p>City: {{weather?weather.name:''}}</p>
            <p>Longitude: {{weather.coord.lon}}</p>
            Pressure
          </button>

        </div>
      </div>
    </div>
  </div>

